
 <!--  deleteConditions Starts -->
 <br><br><br>
 <legend style="color:black;font-weight:bold;">Section E. Delete With Condition</legend>

 <label>Description</label>
 <input type="text" id="description" [(ngModel)]="descObject.desc" name="description">
 <p></p>
 <input type="submit" value="Delete with Condition" (click)="deleteCovidSoap()">

 <!--  deleteConditions Ends -->

 <!--  deleteDuplicate Starts -->
 <br><br><br>
 <legend style="color:black;font-weight:bold;">Section F. Remove Duplicate Description</legend>

 <input type="submit" value="Delete Duplicate Description" (click)="deleteDuplicateDesc()">

 <!--  deleteDuplicate Ends -->
